// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.alert-cont{
    position: fixed;
    right: 5%;
    top: 5%;
    transition: .5s;
    .alert:hover{
        cursor: pointer;
    }
    z-index: 9999;
}

.btn{
    padding: 1%;
    border: 1px solid black;
}

.loop-border{
    border-bottom: 1px solid black;
    &:last-child{
        border: 0 !important;
    }
}
.header-text{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Sorts Mill Goudy', serif;
}
.white-box{
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.back{
    font-size: 1.25rem;
    font-family: 'Sorts Mill Goudy', serif;
    color: black;
    &:hover{
        color:#e65054;
    }
}

/*
*   Search page styles
*/
.search{
    a{
        font-size: 1.25rem;
        font-family: 'Sorts Mill Goudy', serif;
        color: black;
    }
    p{
        font-size: 1rem;
        font-family: 'Sorts Mill Goudy', serif;
        color: black;
    }
}
.search-btn{
    padding: .25% 1%;
    border-radius: 0;
}
.search-row{
    display: flex;
    justify-content: left;
    align-items: center;
    label{
        padding-right: 1%;
        font-family: 'Sorts Mill Goudy', serif;
        color: black;
    }
}


/*
*   Games styles
*/
.outter-games{
    width: 100%;
    display: flex;
    flex-direction: column;
    .inner-games{
        padding: 2%;
        &__info{
            
        }
        &__options{
            display:flex;
            flex-direction:column;
            .bottom{
                display:flex;
                align-items: flex-end;
                .delete-btn{
                    background-color: #e65054;
                }
                .see-game{
                    background-color: #787c82;
                }
                .leave-join-game{
                    background-color: #3582c4;
                }
            }
        }
    }
}
.green{
    color: green;
}
.game-sidebar{
    a{
        margin: 3% 0; 
    }
}

/*
*   Card Loookup CSS
*/


  .lookup {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  #cardData {
    margin-top: 20px;
  }
  
/*
* Deck Builder styles
*/

.deck-builder {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#deck-list {
	list-style: none;
	padding: 0;
}

#deck-list li {
	margin-bottom: 0.5rem;
}

#add-card-form {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

#add-card-form input {
	margin-right: 0.5rem;
}

#add-card-form button {
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
}

#deck-list li {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.card-image {
	width: 50px;
	height: 70px;
	object-fit: cover;
	margin-right: 1rem;
}

.card-info {
	flex-grow: 1;
}

/*
*   Profile page styles
*/
.profile-container{

    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
    /*font-family: 'MedievalSharp', cursive;*/
    font-family: 'Sorts Mill Goudy', serif;
    span{
        font-weight: bold;
    }
    &__username{
        font-size:2rem;
    }
    &__pic{
        width: 100%;
        border-radius: 50%;
        padding: 5%;
        aspect-ratio: 1/1;
    }
}

/*
*   Nav styles
*/
.notification{
    &__menu:hover{
        cursor: pointer;
    }
    &__amount{
        position: absolute;
        top: 0;
        right: 15;
        font-size: .75em;
        color: white;
        background-color: #e65054;
        border-radius: 50%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
            left: 0;
            width: 4.75%;
        }
    }
}
.dropdown-menu[data-bs-popper]{
    left: -100;
}

/*
*   Alert Bar styles
*/
.alert-bar{
    width: 100%;
    background-color: rgba(33, 37, 41, 0.03);
    p{
        margin-bottom: 0;
        text-align: center;
        padding: 1%;
    }
}

/*
*   Single Game styles
*/
.single-game{
    .see-game{
        display: none;
    }
}

/*
*   Front Page styles (before login)
*/
.front{
    a{
        color: rgb(33, 37, 41);
    }
}